################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SimpleRestfulAPIServiceSln/.vs/SimpleRestfulAPIServiceSln/DesignTimeBuild/.dtbcache.v2
/.vs
/SimpleRestfulAPIServiceSln/SimpleRestfulAPIService/obj
